.container-window {
  background-color: transparent !important;
  -webkit-app-region: drag;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  .trans-text-area {
    padding: 10px;
  }
}
