.book-detail-container {
  height: 100%;
  overflow-y: hidden;

  .detail-image {
    z-index: -1;
    border-radius: 15px !important;
    padding: 10px;
    max-width: 300px !important;
    height: 380px !important;
    width: 300px !important;
  }

  .book-text {
    padding: 10px;
    max-height: 360;
  }
  .book-right-area {
    padding: 10px;
    max-width: 300px !important;
  }
}
html body {
  background-color: transparent !important;
  border-radius: 15px;
}
